body {
  font-family: "Nunito", sans-serif;
}

.homepage-parent .nft-cards {
  display: flex;
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.homepage-parent {
  margin: 3rem;
  height: 100%;
}
